In [2]:
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
server = "cohort50sqlserver.database.windows.net" 
database = 'Illidans_Ingenious_Infrastructure' 
username = 'tripleI' 
password = 'PA55W0RD!'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
query = "SELECT * FROM dbo.boroughs_housing;"
df = pd.read_sql(query, cnxn)
# df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,478,1040,10013,1,0,1,0.0,0.0,0,2,930000.0,2003-02-11
1,1,ALPHABET CITY,02 TWO FAMILY HOMES,1,375,32,10009,2,0,2,2134.0,3542.0,1899,1,1800000.0,2003-01-22
2,1,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2C,552,64,10011,0,0,0,0.0,0.0,1900,2,270000.0,2003-07-17
3,1,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1011,4265,10019,1,0,1,0.0,0.0,0,2,490000.0,2003-08-14
4,1,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,492,1008,10012,1,0,1,0.0,0.0,1915,2,249000.0,2003-10-16

In [14]:
training_data = df.loc[(df['SALE DATE'] < '2022-01-01')]
training_data

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,478,1040,10013,1,0,1,0.0,0.0,0,2,930000.0,2003-02-11
1,1,ALPHABET CITY,02 TWO FAMILY HOMES,1,375,32,10009,2,0,2,2134.0,3542.0,1899,1,1800000.0,2003-01-22
2,1,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2C,552,64,10011,0,0,0,0.0,0.0,1900,2,270000.0,2003-07-17
3,1,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1011,4265,10019,1,0,1,0.0,0.0,0,2,490000.0,2003-08-14
4,1,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,492,1008,10012,1,0,1,0.0,0.0,1915,2,249000.0,2003-10-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089920,5,ROSSVILLE,05 TAX CLASS 1 VACANT LAND,1B,7035,66,10309,0,0,0,4020.0,0.0,,1,17000000.0,2021-08-31
1089921,5,ROSSVILLE,05 TAX CLASS 1 VACANT LAND,1B,7035,68,10309,0,0,0,4020.0,0.0,,1,17000000.0,2021-08-31
1089922,5,ROSSVILLE,05 TAX CLASS 1 VACANT LAND,1B,7035,80,10309,0,0,0,4078.0,0.0,,1,17000000.0,2021-08-31
1089923,5,ROSSVILLE,05 TAX CLASS 1 VACANT LAND,1B,7045,21,10309,0,0,0,4072.0,0.0,,1,17000000.0,2021-08-31
1089924,5,ROSSVILLE,05 TAX CLASS 1 VACANT LAND,1B,7045,23,10309,0,0,0,4071.0,0.0,,1,17000000.0,2021-08-31

In [17]:
boroughs2022 = df.loc[(df['SALE DATE'] >= '2022-01-01')]
boroughs2022.reset_index(drop=True,inplace=True)
boroughs2022

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1505,30,10128,1,0,1,2215.0,6956.0,1901,1,19999990.0,2022-01-18
1,1,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1505,31,10128,1,0,1,2542.0,4300.0,1901,1,19999990.0,2022-01-18
2,1,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1510,8,10028,1,0,1,2043.0,3958.0,1920,1,13250000.0,2022-02-18
3,1,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1520,3,10128,1,0,1,1154.0,3636.0,1901,1,8200000.0,2022-12-20
4,1,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1520,101,10128,1,1,2,1120.0,3364.0,1915,1,5300000.0,2022-06-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29592,5,MIDLAND BEACH,05 TAX CLASS 1 VACANT LAND,1B,3793,56,10306,0,0,0,1900.0,0.0,,1,145000.0,2022-06-09
29593,5,MIDLAND BEACH,05 TAX CLASS 1 VACANT LAND,1B,3793,57,10306,0,0,0,1900.0,0.0,,1,145000.0,2022-06-09
29594,5,MIDLAND BEACH,05 TAX CLASS 1 VACANT LAND,1B,3796,6,10306,0,0,0,3999.0,0.0,,1,400000.0,2022-06-27
29595,5,MIDLAND BEACH,05 TAX CLASS 1 VACANT LAND,1B,3796,8,10306,0,0,0,4500.0,0.0,,1,400000.0,2022-06-27
29596,5,MIDLAND BEACH,05 TAX CLASS 1 VACANT LAND,1B,3797,35,10306,0,0,0,2000.0,0.0,,1,17500.0,2022-05-18